[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/curia-ecs"]
	path = external/curia-ecs
	url = https://github.com/collinlongoria/curia-ecs.git
[submodule "external/opticus-rhi"]
	path = external/opticus-rhi
	url = https://github.com/collinlongoria/opticus-rhi.git
